@import url(https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap);


.main {
    display: flex;
    justify-content: center;
   height: 95vh;
   margin: 20px 80px;
    background: #e1e1e6ca;
     box-shadow: 0 0 6px 5px #c2c2c7ca;
}

.login {
    background-color: #716cd3;
    /* background:linear-gradient(90deg, #dbdae4ca, #ff6584, #6c63ff); */
    flex: 1;
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    color: white;
}

.social {
    flex: 1.5;
}

.imageBack {
    width: 100%;
    height: 100%;
    cursor: none;
}

.form {
    padding: 1.5em;
}


.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 8px 15px;
    font-family: 'Advent Pro',sans-serif;
    font-weight: 700;
    font-size: 20px;
    border:#ff6584;
    color: white;
    cursor: pointer;
    outline: none;
    background-color: #ff6584;
}

.submit:hover {
    transition: all .4s ease-in;
    /* box-shadow: 0 3px 5px rgb(26, 25, 25); */
    opacity: .8;
}
.submit:disabled {
    cursor: not-allowed;
    /* background-color: #818181cc; */
  opacity: .650;

}
.input {
    border: 0;
    outline: none;
    background: none;
    padding: 0 5px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    font-family: 'Fire Code';
    
}

.input::placeholder {
    color: white;
}

.inputForm {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    width: 300px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 25px;
}

.iconFont {
    width: 18px;
}

.logo {
    font-family: 'Advent Pro',
        sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconType{
    width: 21px;
    height: 20px;
    margin-left: 22px;   
}
.register{
    cursor: pointer;
}
.register:hover{
    transition: all .3s ease-in;
    color: #dbdae4ca;
}

.enter{
    animation:enter 0.8s both;
}
@keyframes enter {
   from {
       -webkit-transform: translate3d(-100%, 0, 0);
       transform: translate3d(-100%, 0, 0);
       visibility: visible;
   }

   to {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
   }
}
@media screen and (max-width:480px) {
    .main {
        flex-direction: column;
  
    }

    .social {
       flex: auto;

    }
    .login{
        flex: 2;
    }
}