@import url(https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap);


.main {
    display: flex;
    height: 100vh;
    
}

.login {
    background-color: #716cd3;
    /* background:linear-gradient(90deg, #dbdae4ca, #ff6584, #6c63ff); */
    flex: 1;
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    color: white;
}

.social {
    /* background-image:url("../public/images/learning2.png") ;
   background-attachment: no-repeat center; */
    flex: 1.4;
}

.imageBack {
    width: 100%;
    height: 100%;
    cursor: none;
}

.social>img {}

.form {
    padding: 1.5em;
}

.img {
    width: 100%;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 5px 15px;
    font-family: 'Advent Pro',
        sans-serif;
    font-weight: 700;
    font-size: 19px;
    /* border: 1px solid #dbdae4ca; */
    border: #ff6584;
    color: white;


    background-color: #ff6584;
}

.submit:hover {
    transition: all .4s ease-in;
    /* box-shadow: 0 3px 5px rgb(26, 25, 25); */
    opacity: .8;
}

.input {
    border: 0;
    outline: none;
    background: none;
    padding: 0 5px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    font-family: 'Fire Code';
    
}

.input::placeholder {
    color: white;
}

.inputForm {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    width: 280px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 25px;
}

.iconFont {
    width: 18px;
}

.logo {
    font-family: 'Advent Pro',
        sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconType{
    width: 21px;
    height: 20px;
    margin-left: 22px;   
}
.register{
    cursor: pointer;
}
.register:hover{
    transition: all .3s ease-in;
    color: #dbdae4ca;
}
@media screen and (max-width:600px) {
    .main {
        flex-direction: column;
    }

    .social {
        /* display: none; */
    }
}